<div class="col-md-2">
    <div class="sidebar-nav">
        <form class="search form-inline">
            <input type="text" placeholder="搜索...">
        </form>

        <a href="#main-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-bank"></i>常用汇总</a>
        <ul id="main-menu" class="nav nav-list collapse in">
            <li><a href="/admin">首页</a></li>
        </ul>

        <a href="#user-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-user"></i>用户相关</a>
        <ul id="user-menu" class="nav nav-list collapse">
            <li ><a href="/admin/user">用户管理</a></li>
            <li ><a href="/admin">添加用户</a></li>

        </ul>

        <a href="#article-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-edit"></i>文章相关</a>
        <ul id="article-menu" class="nav nav-list collapse">
            <li><a href="/admin/article">添加文章</a></li>
            <li ><a href="/admin/article_list/1.html">文章管理</a></li>
        </ul>

        <a href="#comment-menu" class="nav-header" data-toggle="collapse">
            <i class="fa fa-commenting-o"></i>评论管理
            <span class="label label-info">+3</span>
        </a>
        <ul id="comment-menu" class="nav nav-list collapse">
            <li><a href="/admin">最新评论</a></li>
            <li ><a href="/admin">管理评论</a></li>
        </ul>

        <a href="#views" class="nav-header" data-toggle="collapse">
            <i class="fa fa-eye"></i>模板管理
        </a>
        <ul id="views" class="nav nav-list collapse">
            <li><a href="/admin/views">视图模板</a></li>
        </ul>

        <a href="#slide-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-image"></i>主题图片</a>
        <ul id="slide-menu" class="nav nav-list collapse">
            <li><a href="/admin/banner1">轮播1</a></li>
            <li ><a href="/admin/banner2">轮播2</a></li>
            <li ><a href="/admin/banner3">轮播3</a></li>
            <li ><a href="/admin/banner4">轮播4</a></li>
        </ul>
    </div>
</div>