<footer class="wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 footer-left">
                <div class="footer-logo">
                    <a href=""><img src="/img/footer/footer-logo.png" alt="footer_logo"/></a>
                </div>
                <!--<div class="footer-nav clearfix">
                    <a href="">关于我们</a>
                    <a href="">意见反馈</a>
                    <a href="">免责声明</a>
                </div>-->
                <dl class="clearfix">
                    <dt>技术指导：</dt>
                    <dd>
                        <a href=""><img src="/img/footer/head_logo.png" alt="潭州教育"/></a>
                    </dd>
                </dl>
            </div>
            <div class="col-md-6 col-sm-12 footer-right">
                <dl class="clearfix">
                    <dt>友情链接</dt>
                    <dd><a href="https://wulv5.com/">潭州无虑老师</a></dd>
                </dl>
                <div class="copy">版权所有 © 易解决 鄂ICP备15003565号-1</div>
            </div>
        </div>
    </div>
</footer>