<div class="col-md-2 navwrap padding-13 hidden-sm hidden-xs">
    <p class="before">
        <i class="icon-reorder"></i>
        <span>分类</span>
    </p>
    <!--panel start-->
    <div class="panel">
        <div class="panel-heading active">
            <a data-target="#sub-nav1" data-toggle="collapse" data-parent=".navwrap">
                前端
            </a>
        </div>
        <div class="panel-body collapse in" id="sub-nav1">
            <ul>
                <li><a href="/article_list/1/1.html">DIV+CSS</a></li>
                <li><a href="/article_list/2/1.html">HTML5</a></li>
                <li><a href="/article_list/5/1.html">JAVASCRIPT</a></li>
                <li><a href="/article_list/7/1.html">ANGULARJS</a></li>
            </ul>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <a data-target="#sub-nav2" data-toggle="collapse" data-parent=".navwrap">
                后台
            </a>
        </div>
        <div class="panel-body collapse" id="sub-nav2">
            <ul>
                <li><a href="/article_list/8/1.html">NODEJS</a></li>
                <li><a href="#">EXPRESS</a></li>
            </ul>
        </div>
    </div>
    <!--end panel-->
</div>